
.vs/slnx.sqlite
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/d17db412f45ae07f/SOURCE.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/cfc5bd43f0b2791f/VCTMP14936_727186.YHATZEECLONEPARTONE.00000000 - COPY.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/c43a2749c2c16516/YHATZEECLONEPARTONE.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/7b1f716532d258e8/SPACESHIP.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/772b8e97eb5dac0/VCTMP14936_727186.YHATZEECLONEPARTONE.00000000.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/531cd4b33983ac53/SOURCE.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/43e3c40f4ffe07ac/PENNY.ipch
.vs/CPPYhatzeeClone/v17/ipch/AutoPCH/1d675726901a5f53/YHATZEECLONEPARTONE.ipch
.vs/CPPYhatzeeClone/v17/Browse.VC.opendb
.vs/CPPYhatzeeClone/v17/Browse.VC.db-wal
.vs/CPPYhatzeeClone/v17/Browse.VC.db-shm
.vs/CPPYhatzeeClone/v17/Browse.VC.db
.vs/CPPYhatzeeClone/v17/.wsuo
.vs/CPPYhatzeeClone/FileContentIndex/read.lock
.vs/CPPYhatzeeClone/FileContentIndex/f30d3071-2331-4cdd-b8d1-1959899b8ee0.vsidx
.vs/CPPYhatzeeClone/FileContentIndex/ab8fef48-c1ed-4bbe-a84a-d2188cbe629e.vsidx
.vs/CPPYhatzeeClone/FileContentIndex/826c22b7-328b-4a3d-8d8d-29536f8ef94a.vsidx
.vs/CPPYhatzeeClone/FileContentIndex/6746448d-660a-4c38-96ae-742c3e1347a8.vsidx
